<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Correo:</ion-label>
        <ion-input placeholder="Correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input placeholder="Nombre"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="primary">Cambiar Correo</ion-button>
  <ion-button expand="full" color="primary">Actualizar Contraseña</ion-button>
</ion-content>
